/*
 * Reverse writing.
 */
.back {
    unicode-bidi: bidi-override;
    direction: rtl;
}
/*
 * Always show a scroll bar.
 */
html {
    overflow-y: scroll;
}
/*
 * Used by pubs.html.
 */
p.pub {
    color: black;
    text-indent: -4em;
    padding-left: 4em;
}
p.pub a         {color: black;}
p.pub a:link    {color: black;}
p.pub a:visited {color: black;}
p.pub a:hover   {color: black;}
p.pub a:active  {color: black;}
